---
import getPublishedPosts from "@utilities/getPublishedPosts";
import { getRelativePostPath } from "@utilities/getPostPath";
import { getPostDescription } from "@utilities/getPageDescription";
import FormattedDate from "@components/FormattedDate.astro";
import { Picture, getImage } from "astro:assets";
import { people, getPersonPath, type Person } from "@utilities/people";
import backgroundImage from "@src/images/h9_blog_bg.jpg";

const { frontmatter } = Astro.props,
  title = frontmatter.title,
  collection = frontmatter.collection,
  sectionBackground = await getImage({ src: backgroundImage });

const posts = collection
  ? await getPublishedPosts(Astro.currentLocale, collection)
  : [];
---

<section
  class="blog-area-two blog-bg-two"
  style={`background-image: url('${sectionBackground.src}')`}
>
  <div class="container">
    {
      frontmatter.blog && (
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section-title-four text-center mb-50 tg-heading-subheading animation-style3">
              {frontmatter.blog.subtitle && (
                <span class="sub-title tg-element-title">
                  {frontmatter.blog.subtitle}
                </span>
              )}

              {frontmatter.blog.title && (
                <h2 class="title tg-element-title">{frontmatter.blog.title}</h2>
              )}

              {frontmatter.blog.description && (
                <p>{frontmatter.blog.description}</p>
              )}
            </div>
          </div>
        </div>
      )
    }
    <div class="row justify-content-center">
      {
        posts &&
          posts.slice(0, 3).map((post) => {
            let person: Person = people.find((person) => {
              return person.fullName === post.data.author;
            });
            return (
              <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="blog-post-item-two">
                  <div class="blog-post-thumb-two">
                    <a
                      href={`${getRelativePostPath(
                        Astro.currentLocale,
                        collection,
                        post.slug,
                      )}`}
                    >
                      <Picture
                        src={post.data.previewImage as ImageMetadata}
                        formats={["avif", "webp"]}
                        width={450}
                        height={255}
                        alt={post.data.title}
                      />
                    </a>
                    <a href="blog.html" class="tag">
                      {post.data.tags[0]}
                    </a>
                  </div>
                  <div class="blog-post-content-two">
                    <h2 class="title line-clamp-2">
                      <a
                        href={`${getRelativePostPath(
                          Astro.currentLocale,
                          collection,
                          post.slug,
                        )}`}
                      >
                        {post.data.title}
                      </a>
                    </h2>
                    <p class="line-clamp-4">{getPostDescription(post)}</p>
                    <div class="blog-meta">
                      <ul class="list-wrap">
                        <li>
                          <a
                            href={getPersonPath(Astro.currentLocale, person.id)}
                          >
                            <Picture
                              src={person.avatar}
                              formats={["avif", "webp"]}
                              alt="Avatar"
                              width={65}
                              height={65}
                            />
                            {person.fullName}
                          </a>
                        </li>
                        <li>
                          <i class="far fa-calendar" />
                          <FormattedDate date={post.data.pubDate} />
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            );
          })
      }
    </div>
  </div>
</section>
