---
import getPublishedPosts from "@utilities/getPublishedPosts";
import { getRelativePostPath } from '@utilities/getPostPath';
import { getPostDescription } from "@utilities/getPageDescription";
import FormattedDate from '@components/FormattedDate.astro'

const { frontmatter } = Astro.props,
  title = frontmatter.title,
  collection = frontmatter.collection;

const posts = await getPublishedPosts(Astro.currentLocale, collection);
---

<section
  class="blog-area-two blog-bg-two"
  data-background="/assets/img/bg/h9_blog_bg.jpg"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div
          class="section-title-four text-center mb-50 tg-heading-subheading animation-style3"
        >
          <span class="sub-title tg-element-title">News & Blogs</span>
          <h2 class="title tg-element-title">Read Our Latest Updates</h2>
          <p>
            Ever find yourself staring at your computer screen a good consulting
            slogan to come to mind? Oftentimes.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {
        posts.map((post) => (
          <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="blog-post-item-two">
              <div class="blog-post-thumb-two">
                <a href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}>
                  <img src={post.data.previewImage} alt="" />
                </a>
                <a href="blog.html" class="tag">
                  {post.data.tags[0]}
                </a>
              </div>
              <div class="blog-post-content-two">
                <h2 class="title line-clamp-2">
                  <a href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}>{post.data.title}</a>
                </h2>
                <p class="line-clamp-4">{getPostDescription(post)}</p>
                <div class="blog-meta">
                  <ul class="list-wrap">
                    <li>
                      <a href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}>
                        <img src="/assets/img/blog/blog_avatar01.png" alt="" />
                        {post.data.author}
                      </a>
                    </li>
                    <li>
                      <i class="far fa-calendar" />
                      <FormattedDate date={post.data.pubDate} />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
