---
import { Picture, getImage } from "astro:assets";
import { SOCIALS } from "../config";
import whiteLogo from "../images/logo/utxo-logo-white.svg";
import { defaultLocale, fallback } from "@i18n/i18n";
import { footerMenu } from "../config";
import { headerMenu } from "@src/header";
import backgroundImage from "@src/images/footer_bg.jpg";
import btcBundesverbandImage from "@src/images/logo/btc-bundesverband.png";
import tuvRheinlandImage from "@src/images/logo/tuv-rheinland-mitglied.png";

const menuLocale: string = footerMenu[Astro.currentLocale]
    ? Astro.currentLocale
    : fallback[Astro.currentLocale] || defaultLocale,
  headerMenuItems = headerMenu[menuLocale].items,
  sectionBackground = await getImage({ src: backgroundImage }),
  footerMenuItems = footerMenu[menuLocale].items;
---

<footer>
  <div
    class="footer-area footer-bg"
    style={`background-image: url('${sectionBackground.src}')`}
  >
    <div class="container">
      <div class="footer-top">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-widget">
              <div class="fw-title">Information</div>
              <div class="footer-info">
                <ul class="list-wrap">
                  <!-- <li>
                    <div class="icon">
                      <i class="flaticon-pin"></i>
                    </div>
                    <div class="content">
                      <p>Richard-Wagner-Str. 31<br />50674 Köln</p>
                    </div>
                  </li> -->
                  <li>
                    <div class="icon">
                      <i class="flaticon-phone-call"></i>
                    </div>
                    <div class="content">
                      <a href="tel:+4922116841669">+49 221 1684 1669</a>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fab fa-bitcoin"></i>
                    </div>
                    <div class="content">
                      <p>Bitcoin Accepted Here</p>
                    </div>
                  </li>
                  <!-- <li>
                    <div class="icon">
                      <i class="flaticon-clock"></i>
                    </div>
                    <div class="content">
                      <p>
                        Mo. &ndash; Fr.: 8:00 &ndash; 17:00, <br /> Sa./So.: <span
                          >GESCHLOSSEN</span
                        >
                      </p>
                    </div>
                  </li> -->
                  <slot />
                </ul>
              </div>
            </div>
          </div>
          {
            footerMenuItems &&
              footerMenuItems.map((menu) => (
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-widget">
                    <div class="fw-title">{menu.title}</div>
                    <div class="footer-link">
                      <ul class="list-wrap">
                        {menu.items &&
                          menu.items.map((item) => (
                            <li>
                              <a href={item.path}>{item.label}</a>
                            </li>
                          ))}
                      </ul>
                    </div>
                  </div>
                </div>
              ))
          }
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-6">
            <div class="footer-widget">
              <div class="footer-image">
                <Picture src={btcBundesverbandImage} formats={["avif", "webp"]} width={320} alt="TÜV Rheinland Mitglied Logo"/>
                <Picture src={tuvRheinlandImage} formats={["avif", "webp"]} width={100} alt="TÜV Rheinland Mitglied Logo"/>
              </div>
              <div class="footer-image">
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-4 col-md-7">
            <div class="footer-widget">
              <div class="fw-title">Newsletter</div>
              <div class="footer-newsletter">
                <p>
                  Melde Dichzum Newsletter an. Wir halten Dich über
                  spannende Themen auf dem Laufenden.
                </p>
                <form action="#">
                  <input type="email" placeholder="Email-Adresse" />
                  <button type="submit">Abonnieren</button>
                </form>
                <span>Wir schicken keinen Spam. Versprochen 🤞</span>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="footer-bottom">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="left-sider">
              {
                headerMenuItems[0] && (
                  <div class="f-logo">
                    <a href={headerMenuItems[0]?.path}>
                      <Picture
                        src={whiteLogo}
                        alt="UTXO Logo"
                        formats={["avif", "webp"]}
                        height={34}
                      />
                    </a>
                  </div>
                )
              }
              <div class="copyright-text">
                <p>Copyright © {new Date().getFullYear()} UTXO Solutions</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-social">
              <ul class="list-wrap">
                {
                  SOCIALS.map((item) => (
                    <li>
                      <a href={item.link} aria-label="Social Link">
                        <i class={`fab ${item.icon}`} />
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
