---
import Search from "./Search.astro";
import SidebarMenu from "./SidebarMenu.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { Image } from "astro:assets";
import Logo from "../images/logo/logo.png";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

import { MENUS } from "../config";
---

<header>
  <div id="sticky-header" class="menu-area menu-area-five">
    <div class="container-fulid">
      <div class="row g-0">
        <div class="col-12">
          <div class="menu-wrap">
            <nav class="menu-nav">
              <div class="offcanvas-menu offcanvas-menu-three">
                <a href="#" class="menu-trigger">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
              </div>
              <div class="logo">
                <a href={translatePath("/")}>
                  <Image src={Logo} alt="Gerow Logo" height="29" />
                </a>
              </div>
              <div class="navbar-wrap main-menu d-none d-lg-flex">
                <ul class="navigation">
                  {
                    MENUS.map((item) => (
                      <li class={item.children ? "menu-item-has-children" : ""}>
                        <a href={translatePath(item.link)}>{t(item.label)}</a>
                        {item.children && (
                          <ul class="sub-menu">
                            {item.children.map((child) => (
                              <li>
                                <a href={translatePath(child.link)}>
                                  {t(child.label)}
                                  {child.new && <span class="badge">New</span>}
                                </a>
                              </li>
                            ))}
                          </ul>
                        )}
                      </li>
                    ))
                  }
                </ul>
              </div>
              <div class="header-action header-action-five d-none d-md-block">
                <ul class="list-wrap">
                  <li class="header-search">
                    <a href="#" data-target=".search-popup-wrap"><i class="flaticon-search"></i></a>
                  </li>
                  <li class="header-contact-two header-contact-four">
                    <div class="icon">
                      <i class="flaticon-mail"></i>
                    </div>
                    <div class="content">
                      <span>{t('email')}</span>
                      <a href="mailto:info@utx.solutions">info@utx.solutions</a>
                    </div>
                  </li>
                  <li class="header-btn header-btn-four">
                    <a href="contact.html" class="btn btn-two border-btn"
                      >Get Consultant</a
                    >
                  </li>
                </ul>
              </div>
              <div class="mobile-nav-toggler">
                <i class="fas fa-bars"></i>
              </div>
            </nav>
          </div>

          <div class="mobile-menu">
            <nav class="menu-box">
              <div class="close-btn">
                <i class="fas fa-times"></i>
              </div>
              <div class="nav-logo">
                <a href={translatePath("/")}
                  ><img src="assets/img/logo/logo.png" alt="Logo" /></a
                >
              </div>
              <div class="mobile-search">
                <form action="#">
                  <input type="text" placeholder="Search here …" />
                  <button><i class="flaticon-search"></i></button>
                </form>
              </div>
              <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
              </div>
              <div class="social-links">
                <ul class="clearfix list-wrap">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="menu-backdrop"></div>
        </div>
      </div>
    </div>
  </div>

  <Search />
  <SidebarMenu />
</header>
