---
import Search from "./Search.astro";
import SidebarMenu from "./SidebarMenu.astro";
import { defaultLocale, fallback } from "@i18n/i18n";
import { Picture } from "astro:assets";
import Logo from "/src/images/logo/utxo-logo-color.svg";
import { uiStrings } from "@i18n/uiStrings";
import HeaderLink from "./HeaderLink.astro";
import { headerMenu } from "@src/header";
import type { navigationItem } from "@src/header";

// If no items are available for the page's locale, the items for the defaultLocale will be used:
const menuLocale: string = headerMenu[Astro.currentLocale]
  ? Astro.currentLocale
  : fallback[Astro.currentLocale] || defaultLocale;
const headerMenuItems: navigationItem[] = headerMenu[menuLocale].items;
---

<div id="header-fixed-height"></div>
<header>
  <div id="sticky-header" class="menu-area menu-area-five">
    <div class="container">
      <div class="row g-0">
        <div class="col-12">
          <div class="menu-wrap">
            <nav class="menu-nav">
              <div class="offcanvas-menu offcanvas-menu-three">
                <a href="#" class="menu-trigger">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
              </div>
              <div class="logo">
                <a href={headerMenuItems[0].path}>
                  <Picture
                    src={Logo}
                    formats={["avif", "webp"]}
                    height={34}
                    alt="Logo"
                  />
                </a>
              </div>
              <div class="navbar-wrap main-menu d-none d-lg-flex">
                <ul class="navigation">
                  {
                    headerMenuItems.map((item) => (
                      <li>
                        <HeaderLink href={item.path}>{item.label}</HeaderLink>
                      </li>
                    ))
                  }
                </ul>
              </div>
              <div class="header-action header-action-five d-none d-md-block">
                <ul class="list-wrap">
                  <!-- <li class="header-search">
                    <a href="#" data-target=".search-popup-wrap"
                      ><i class="flaticon-search"></i></a
                    >
                  </li> -->
                  <li class="header-contact-two header-contact-four">
                    <div class="icon">
                      <i class="flaticon-mail"></i>
                    </div>
                    <div class="content">
                      <span>Email</span>
                      <a href="mailto:info@utxo.solutions"
                        >info@utxo.solutions</a
                      >
                    </div>
                  </li>
                  <li class="header-btn header-btn-four">
                    <a
                      href="https://cal.com/martinbetz"
                      class="btn btn-two border-btn"
                      >{uiStrings.contactButton[Astro.currentLocale]}</a
                    >
                  </li>
                </ul>
              </div>
              <div class="mobile-nav-toggler">
                <i class="fas fa-bars"></i>
              </div>
            </nav>
          </div>
          <div class="mobile-menu">
            <nav class="menu-box">
              <div class="close-btn">
                <i class="fas fa-times"></i>
              </div>
              <div class="nav-logo">
                <a href="/">
                  <Picture
                    src={Logo}
                    formats={["avif", "webp"]}
                    width={650}
                    alt="Logo"
                  />
                </a>
              </div>
              <!-- <div class="mobile-search">
                <form action="#">
                  <input type="text" placeholder="Search here …" />
                  <button aria-label="Search"
                    ><i class="flaticon-search"></i></button
                  >
                </form>
              </div> -->
              <div class="menu-outer">
                <ul class="navigation">
                  {
                    headerMenuItems.map((item) => (
                      <li>
                        <HeaderLink href={item.path}>{item.label}</HeaderLink>
                      </li>
                    ))
                  }
                </ul>
              </div>
              <div class="social-links">
                <ul class="clearfix list-wrap">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="menu-backdrop"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <Search /> -->
  <SidebarMenu />
</header>

<script>
  //Mobile Nav Hide Show
  if (document.querySelector(".mobile-menu")) {
    //SubMenu Dropdown Toggle
    if (document.querySelector(".menu-area li.menu-item-has-children ul")) {
      document
        .querySelectorAll(".menu-area .navigation li.menu-item-has-children")
        .forEach((element) => {
          element.insertAdjacentHTML(
            "beforeend",
            '<div class="dropdown-btn"><span class="fas fa-angle-down"></span></div>'
          );
        });
    }

    //Dropdown Button
    document
      .querySelector(".mobile-menu li.menu-item-has-children .dropdown-btn")
      ?.addEventListener("click", (event) => {
        (event.target as HTMLInputElement)
          ?.closest(".dropdown-btn")
          ?.classList.toggle("open");
        (event.target as HTMLInputElement)
          ?.closest(".menu-item-has-children")
          ?.querySelector(".sub-menu")
          ?.classList.toggle("open");
      });

    //Menu Toggle Btn
    document
      .querySelector(".mobile-nav-toggler")
      ?.addEventListener("click", () => {
        document.body.classList.add("mobile-menu-visible");
      });

    //Menu Toggle Btn
    document
      .querySelectorAll(".menu-backdrop, .mobile-menu .close-btn")
      .forEach((element) =>
        element.addEventListener("click", () => {
          document.body.classList.remove("mobile-menu-visible");
        })
      );
  }
</script>
