---
import { SOCIALS } from "@src/config";
import { Picture } from "astro:assets";
const { frontmatter } = Astro.props;
const content = frontmatter.hero;
---

{
  content && (
    <section
      class="banner-area-eight fix banner-bg-eight"
    >
      <div class="container-fluid p-0">
        <div class="row g-0 justify-content-end">
          <div class="col-xl-6 col-lg-7">
            <div class="banner-content-eight">
              <span
                class="sub-title"
                data-aos="fade-up"
                data-aos-delay="200"
                set:html={content.subtitle}
              />
              <h2
                class="title"
                data-aos="fade-up"
                data-aos-delay="300"
                set:html={content.title}
              />
              <p
                data-aos="fade-up"
                data-aos-delay="500"
                set:html={content.intro}
              />

              <div
                class="banner-btn-seven"
                data-aos="fade-up"
                data-aos-delay="700"
              >
                <a
                  href={content.ctaLink}
                  class="btn btn-three border-btn"
                  set:text={content.ctaText}
                />
              </div>
              <div class="banner-content-shape">
                <Picture
                  src="/assets/img/banner/h9_hero_shape01.png"
                  alt="shape"
                  width={534}
                  height={312}
                  formats={["avif", "webp"]}
                  data-aos="fade-up-right"
                  data-aos-delay="800"
                />
                <Picture
                  src="/assets/img/banner/h9_hero_shape02.png"
                  alt="shape"
                  width={453}
                  height={257}
                  formats={["avif", "webp"]}
                  data-aos="fade-down-left"
                  data-aos-delay="800"
                />
              </div>
              <div class="banner-follow-wrap">
                <h6 class="title">Follow us</h6>
                <ul class="list-wrap">
                  {SOCIALS.map((item) => (
                    <li>
                      <a href={item.link} aria-label="Social Link">
                        <i class={`fab ${item.icon}`} />
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
