---
import { SOCIALS } from "../config";
import { useTranslatedPath, getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const { page } = Astro.props;
const content = page.frontmatter.hero;
---

<section
  class="banner-area-eight fix banner-bg-eight"
  data-background="/assets/img/banner/h9_hero_bg.jpg"
>
  <div class="container-fluid p-0">
    <div class="row g-0 justify-content-end">
      <div class="col-xl-6 col-lg-7">
        <div class="banner-content-eight">
          <span
            class="sub-title"
            data-aos="fade-up"
            data-aos-delay="200"
            set:html={content.subtitle}
          />
          <h2
            class="title"
            data-aos="fade-up"
            data-aos-delay="300"
            set:html={content.title}
          />
          <p
            data-aos="fade-up"
            data-aos-delay="500"
            set:html={content.intro}
          />

          <div class="banner-btn-seven" data-aos="fade-up" data-aos-delay="700">
            <a
              href={translatePath(content.ctaLink)}
              class="btn btn-three border-btn"
              set:text={content.ctaText}
            />
          </div>
          <div class="banner-content-shape">
            <img
              src="/assets/img/banner/h9_hero_shape01.png"
              alt="shape"
              data-aos="fade-up-right"
              data-aos-delay="800"
            />
            <img
              src="/assets/img/banner/h9_hero_shape02.png"
              alt="shape"
              data-aos="fade-down-left"
              data-aos-delay="800"
            />
          </div>
          <div class="banner-follow-wrap">
            <h6 class="title">Follow us</h6>
            <ul class="list-wrap">
              {
                SOCIALS.map((item) => (
                  <li>
                    <a href={item.link}>
                      <i class={`fab ${item.icon}`} />
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
