---
import { getRelativePostPath } from "@src/utilities/getPostPath";
import FormattedDate from "./FormattedDate.astro";
import { Picture, getImage } from "astro:assets";
import { getPostDescription } from "@src/utilities/getPageDescription";
import { people, getPersonPath, type Person } from "@src/utilities/people";
import { getTagPath } from "@src/utilities/tags";

const { frontmatter, post } = Astro.props,
  collection = frontmatter.collection;

let person: Person = people.find((person) => {
  return person.fullName === post.data.author;
});
---

<div class="col-md-4">
  <div class="blog-post-item-two">
    <div class="blog-post-thumb-two">
      {
        post.data.previewImage && (
          <a
            href={`${getRelativePostPath(
              Astro.currentLocale,
              collection,
              post.slug
            )}`}
          >
            <Picture
              src={post.data.previewImage}
              format="webp"
              alt={post.data.title}
              widths={[240, 320, 400, 600]}
              inferSize
              sizes={`(max-width: 767px) 600px, (max-width: 992px) 240px, (max-width: 1199px) 320px, 400px`}
            />
          </a>
        )
      }
      {
        post.data.tags.length && (
          <a
            href={`${getTagPath(Astro.currentLocale, post.data.tags[0])}`}
            class="tag"
          >
            {post.data.tags[0]}
          </a>
        )
      }
    </div>
    <div class="blog-post-content-two">
      <h2 class="title">
        <a
          href={`${getRelativePostPath(
            Astro.currentLocale,
            collection,
            post.slug
          )}`}>{post.data.title}</a
        >
      </h2>
      <p class="line-clamp-3">{getPostDescription(post)}</p>
      <div class="blog-meta">
        <ul class="list-wrap">
          {
            person && person.id && (
              <li>
                <a href={getPersonPath(Astro.currentLocale, person.id)}>
                  <Picture
                    src={person.avatar}
                    width={65}
                    height={65}
                    formats={["avif", "webp"]}
                    alt="Avatar"
                  />
                  {person.fullName}
                </a>
              </li>
            )
          }
          <li>
            <i class="far fa-calendar"></i>
            <FormattedDate date={post.data.date} />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
