---
import { uiStrings } from "@i18n/uiStrings";
import { getRelativePostPath } from "@src/utilities/getPostPath";
import { Picture } from "astro:assets";

const { frontmatter } = Astro.props;
const { posts } = Astro.props,
collection = frontmatter.collection,
services = frontmatter.services || [];
---

<section class="services-area-seven pt-120 pb-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <div class="section-title-two text-center mb-50">
          <span class="sub-title">{frontmatter.subtitle}</span>
          <h2 class="title">{frontmatter.introTitle || frontmatter.title}</h2>
          <p>{frontmatter.description}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {
        ([...posts, ...services] ?? []).map((post: any) => (
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="features-item-three">
              <div class="features-icon-three">
                <i class={post.data.icon} />
              </div>
              <div class="features-content-three">
                <h2 class="title">{post.data.title}</h2>
                <p class="line-clamp-3">{post.data.description}</p>
                <a
                  href={`${post.slug ? getRelativePostPath(Astro.currentLocale, collection, post.slug) : post.data.link}`}
                  class="link-btn"
                >
                  {post.data.linkLabel || uiStrings.readMore[Astro.currentLocale]}
                  <Picture
                    src="/assets/img/icons/right-arrow.svg"
                    width={19}
                    height={12}
                    formats={["avif", "webp"]}
                    alt="Right Arrow Icon"
                  />
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
